@{
    ViewBag.Title = "Let's feed the rabbit.";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("About", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <p>
        <input id="seconds" name="seconds" width="10" /> rations
    </p>
    <p>
        <input type="submit" value="Feed" class="btn btn-default" />
    </p>
}
