@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Isabel Cabezas Martín</h3>

<address>

    <a href="http://twitter.com/isabelcabezasm">http://twitter.com/isabelcabezasm</a>

</address>

<address>
    <a href="https://twitter.com/isabelcabezasm/status/1089294805535019009">Follow the project in Twitter</a><br />
    <a href="https://github.com/isabelcabezasm/feeder">Github</a>
</address>