@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Feeder</h1>
</div>

<div class="row">
    <div class="col-md-4 center-block">
        <h2>Let's feed the rabbit! </h2>
        <p>
            <img src="~/img/higgs.png" width="100" />
        </p>
        <p><a class="btn btn-default" href="/Home/About">Access &raquo;</a></p>
    </div>
  
</div>